<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>go martini mgo demo</title>
<meta name="description" content="A simple CRUD app in golang and mongodb using go-martini and mgo">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/app.css">
