<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">App</a>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class=""><a href="/">Articles</a></li>
        <li><a href="/new">New</a></li>
      </ul>

      <ul class="nav navbar-right navbar-nav">
        <li>
          <a href="https://www.gratipay.com/madhums/"><img src="https://img.shields.io/gratipay/madhums.svg?style=flat" alt="Gittip" data-canonical-src="https://img.shields.io/gratipay/madhums.svg?style=flat" style="max-width:100%;"></a>
        </li>
        <li>
          <iframe src="http://ghbtns.com/github-btn.html?user=madhums&amp;repo=go-martini-mgo-demo&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="45" style="padding: 15px 0 0 15px;"></iframe>
        </li>
        <li>
          <iframe src="http://ghbtns.com/github-btn.html?user=madhums&amp;repo=go-martini-mgo-demo&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="45" style="padding: 15px 0 0 15px;"></iframe>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
